*{
    padding: 0px;
    margin: 0px;
}

div{
    /* background: #ccc; */
    /* padding: 10px;
    margin: 5px; */

    /* padding: 10px 30px 50px 100px; */

    /* padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 100px; */
    
}

p{
    background: #84e;
    border: 1px solid #84f;
    border-radius: 5px;
}

h1{
    background: #00f;
    padding-bottom: 5px;
}

span{
    background: lime;

}